<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UFT-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width, inital-scale=1.0">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Acampamento Meio-sangue</title>

    </head>

</html>

<body>
    <main>
        <header>
        <nav>
            <h1>Acampamento Meio-sangue</h1>
        </nav>
        </header>
        <section>
        <div id="expl">
            <h2>Explicação:</h2>
            <p>Esse site foi idealizado com o objetivo de interagir com os fãs do Riordanverse e trazer a vida um dos lugares favoritos da programadora: o Acampamento Meio-sangue</p>
        </div>
        <div id="bemvindo">
            <h2>Seja Bem-vindo ao Acampamento Meio-sangue.</h2>
            <p id="antes" class="page"> <!--quadro apenas para mostrar temporariamente!-->
                O Acampamento Meio-sangue é voltado para crianças aventureiras de todas as idades. Um lugar divertido e seguro, no qual os pais não precisam sentir preocupação em enviar seus filhos!
                <button id="before">Cadastre seu filho aqui</button></p> 
            <p id="depois" class="page"><!--Mostra depois que passa o mouse em cima do quadro-->
                O Acampamento Meio-sangue é voltado para crianças com um pai/mãe divino. Um lugar seguro, onde aprendem a se defender contra os terrivéis monstros.
                <button id="after"><a href="">Descubra seu pai/mãe divino</a></button><!-- Quando clica no botão é direcionado para outra pagina -->            </p> 
        </div>

        <div id="mapa">
            <h2>Conheça o Acampamento Meio-sangue</h2>
            <ul>
                <li>Pinheiro de Thalia</li>
                <li>Casa Grande</li>
                <li>Quadra de Volei</li>
                <li>Artes e Oficio</li>
                <li>Chalés</li>
            </ul>

        </div>
    </section>
    </main>
</body>