
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UFT-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Acampamento Meio-sangue</title>

    </head>

</html>

<body>
    <main>
        <header>
        <nav>
            <h1>Acampamento Meio-sangue</h1>
      <ul id="barr"> <a id="barr" href="#mapa">mapa</a>
        <a id="barr"href="#mapa">mapa</a>
        <a id="barr" href="#mapa">mapa</a></ul>
        </nav>
        </header>
        <section>
        <div id="expl">
            <div>
            <button id="fechar">x</button>
            <h2>Explicação</h2>
            <p>Esse site foi idealizado com o objetivo de interagir com os fãs do Riordanverse e trazer a vida um dos lugares favoritos da programadora: o Acampamento Meio-sangue</p>
        </div>
    </div>
        <div id="bemvindo">
            <div id="placa">
            <h2>Seja Bem-vindo ao Acampamento Meio-sangue.</h2></div>
            <div id="antes">
            <p> <!--quadro apenas para mostrar temporariamente!-->
                O Acampamento Meio-sangue é voltado para crianças aventureiras de todas as idades. Um lugar divertido e seguro, no qual os pais não precisam sentir preocupação em enviar seus filhos!
                <button id="before">Cadastre seu filho aqui</button></p>
            </div>
            <div id="depois">
            <p class="page"><!--Mostra depois que passa o mouse em cima do quadro-->
                O Acampamento Meio-sangue é voltado para crianças com um pai/mãe divino. Um lugar seguro, onde aprendem história grega, auto-defesa e saem em missões altamente perigosas!
                <button id="after" > <a id="but" href="/quiz">Descubra seu pai/mãe divino</a></button><!-- Quando clica no botão é direcionado para outra pagina -->            </p> 
        </div>
    </div>

        <div id="mapa">
            <div id="img"></div>
            <h2 id="title">Conheça o Acampamento Meio-sangue</h2>
            <ul>
                <li><a id="map">Pinheiro de Thalia</a></li>
                <li><a id="map">Casa Grande</a></li>
                <li><a id="map">Quadra de Volei</a></li>
                <li><a id="map">Artes e Oficio</a></li>
                <li><a id="map">Chalés</a></li>
            </ul>

        </div>
    </section>
    </main>
    <footer>
        <h2>Desenvolvido por: Tyfani Abreu</h2>
        <div></div>
        <a id="rs" href="https://github.com/Tyfani21" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        
        <a id="rs" href="https://www.instagram.com/tyfani_abreu/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <a id="rs" href="https://www.linkedin.com/in/tyfaniabreu/" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
    </footer>
    <script src="../static/js/index.js"></script>
</body>